.line{
    border-bottom: 10px soild black;
    margin: 10px;
    padding: 10px;
}
.head{
    font-size: 200px;
}
.span{
    font-size: 20px;
    display: inline;
    padding-right: 500px;
}

.inline{
    display: inline;
}

.div2{
    padding-left: 200px;
    padding-right: 200px;
}
.optionBar{
    margin-top: 20px;
    background-color: blue;
    padding-left: 200px;
}
.options{
    font-size: 20px;
    height: 100px;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
background-color: blue;
color: white;
}

.options:hover{
    background-color: brown;
}

.Assign img{
    width: 100%
}

